#set($layout="layout/main.vm")
#define($refer)
<!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
<link href="/resources/assert/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="/resources/assert/css/freelancer.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="/resources/assert/css/font-awesome.min.css" rel="stylesheet" type="text/css">
#end

#define($content)

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">Fast Ship</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#portfolio">使用教程</a>
                </li>
                <li class="page-scroll">
                    <a href="#about">关于</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">注册登录</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="/resources/assert/img/index/profile.png" alt="">
                <div class="intro-text">
                    <span class="name">Fast Ship </span>
##                    <hr>
                    <span class="skills">快速访问 - 简易实用 - 适用于Windows/Linux/MacOS/Android/iOS</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>使用教程</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/resources/assert/img/index/portfolio/cabin.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/resources/assert/img/index/portfolio/cake.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/resources/assert/img/index/portfolio/circus.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/resources/assert/img/index/portfolio/game.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/resources/assert/img/index/portfolio/safe.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/resources/assert/img/index/portfolio/submarine.png" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>关于</h2>
                <hr style="width: 10%">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Fast Ship为用户提供丰富的Vpn线路，覆盖全球高速稳定机房。日本、美国、香港、台湾、英国、法国多条线路，稳定超流畅，上网如飞，保障用户安全互联服务。</p>
            </div>
            <div class="col-lg-4">
                <p>完美支持多系统，Windows、iPhone、Ipad、Android、Surface Pro、Xbox360、PS3Ubuntu、Symbian 支持Iphone6、Windows8等最新操作系统 。</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#contact" class="btn btn-lg btn-outline">
                    <i class="fa fa-user"></i> 注册试用
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>注册登录</h2>
                <hr style="width: 30%;">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>邮箱</label>
                            <input type="email" class="form-control" placeholder="邮箱" id="name" required data-validation-required-message="请输入邮箱">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>密码</label>
                            <input type="password" class="form-control" name="password" placeholder="密码" id="password" required data-validation-required-message="请输入密码">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>确认密码</label>
                            <input type="password" class="form-control" placeholder="确认密码" id="phone"
                                   required data-validation-required-message="请确认密码"
                                   data-validation-match-match="password" data-validation-match-message="密码不一致">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-success btn-lg">注册</button>
                            <a type="button" href="/login" class="btn btn-success btn-lg">已有帐号，登录</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>联系我们</h3>
                    <p class="" >
                        <a href="#"><i class="fa fa-fw fa-qq "></i></a>
                        <a>798207330</a></p>
                    <p >
                        <a href="#"><i class="fa fa-envelope "></i></a>
                        <a>798207330@qq.com </a></p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>分享给好友</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-qq "></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-weibo"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-weixin"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>赞助商</h3>
                    <ul class="list-inline ">
                        <li>
                            <a href="#" class="btn-social btn-outline "><i class="fa fa-fw fa-git"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linux"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-html5"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Fast Ship 2014
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>第一步</h2>
                        <hr class="star-primary">
                        <img src="/resources/assert/img/index/portfolio/cabin.png" class="img-responsive img-centered" alt="">
                        <p>登录FastShip官网，点击用户登录，登录后进行下一步操作</p>
                        <ul class="list-inline item-details">
                            <li>下一步:
                                <strong><a href="http://startbootstrap.com">帐号试用</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> 关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>第二步</h2>
                        <hr class="star-primary">
                        <img src="/resources/assert/img/index/portfolio/cake.png" class="img-responsive img-centered" alt="">
                        <p>根据您的使用设备,安装相对应平台的客户端!</p>
                        <ul class="list-inline item-details">
                            <li>下一步:
                                <strong><a href="#">Next</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> 关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>第三步</h2>
                        <hr class="star-primary">
                        <img src="/resources/assert/img/index/portfolio/circus.png" class="img-responsive img-centered" alt="">
                        <p>建设中....</p>
                        <ul class="list-inline item-details">
                            <li>下一步:
                                <strong><a href="#">Next</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>第四步</h2>
                        <hr class="star-primary">
                        <img src="/resources/assert/img/index/portfolio/game.png" class="img-responsive img-centered" alt="">
                        <p>建设中...</p>
                        <ul class="list-inline item-details">
                            <li>下一步:
                                <strong><a href="#">Next</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>第五步</h2>
                        <hr class="star-primary">
                        <img src="/resources/assert/img/index/portfolio/safe.png" class="img-responsive img-centered" alt="">
                        <p>建设中!</p>
                        <ul class="list-inline item-details">
                            <li>下一步:
                                <strong><a href="#">Next</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>请尽情使用吧</h2>
                        <hr class="star-primary">
                        <img src="/resources/assert/img/index/portfolio/submarine.png" class="img-responsive img-centered" alt="">
                        <p>Expore all over the world !</p>
                        <ul class="list-inline item-details">

                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>

#end

#define($js)
<!-- jQuery -->
<script src="/resources/assert/js/index/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/resources/assert/js/index/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="/resources/assert/js/index/classie.js"></script>
<script src="/resources/assert/js/index/cbpAnimatedHeader.js"></script>

<!-- Contact Form JavaScript -->
<script src="/resources/assert/js/index/jqBootstrapValidation.js"></script>
<script src="/resources/assert/js/index/contact_me.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/resources/assert/js/index/freelancer.js"></script>

#end
