<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:include="layout/header::header"></div>

<body>
<div th:include="layout/nav::nav"></div>
<div th:include="jumbo::content"></div>
<div th:include="box::boxs"></div>
<div th:include="layout/footer::footer"></div>

<!--<p th:text="${session.auth}" ></p>-->
<!--<p th:text="${session.SPRING_SECURITY_CONTEXT}"></p>-->
<!--<p th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.userId}">-->
    <!--admin-->
<!--</p>-->
<!--<p th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}"></p>-->
<!--<p th:text="${session.SPRING_SECURITY_CONTEXT.authentication.authenticated}"></p>-->
<!--<div th:if="${session.SPRING_SECURITY_CONTEXT.authentication.authenticated} == true">-->
    <!--sucess-->
<!--</div>-->
</body>
</html>
