<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkcat.presistence.UserMapper">

    <resultMap id="BaseResultMap" type="com.thinkcat.domain.AdminUser">
        <id column="uid" jdbcType="BIGINT" property="uId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="user_type" jdbcType="INTEGER" property="userType"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid,user_name,password,user_type
    </sql>

    <sql id="Base_Where_Condition">
        <if test="uId !=null and uId !='' ">
            AND uid = #{uId,jdbcType=BIGINT}
        </if>
        <if test="userName !=null and userName != '' ">
            AND user_name = #{userName,jdbcType=VARCHAR}
        </if>
        <if test="password != null and password != '' ">
            AND password = #{password,jdbcType=VARCHAR}
        </if>
        <if test="userType !=null and userType != '' ">
            AND user_type = #{userType,jdbcType=INTEGER}
        </if>
        <if test="roleId != null and roleId != '' ">
            AND role_id = #{roleId,jdbcType=BIGINT}
        </if>
        <if test="description != null and description != '' ">
            AND description = #{description,jdbcType=VARCHAR}
        </if>

    </sql>

    <select id="findAllUser" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM th_user
    </select>

    <select id="findUserPager" resultMap="BaseResultMap" parameterType="com.thinkcat.domain.AdminUser">
        SELECT <include refid="Base_Column_List"/>
        FROM th_user WHERE 1=1
        <include refid="Base_Where_Condition"/>
        <if test="pageLength != null and offset != null">
            LIMIT #{offset,jdbcType=INTEGER} , #{pageLength,jdbcType=INTEGER}
        </if>
    </select>

    <select id="findUserCount" resultType="long" parameterType="com.thinkcat.domain.AdminUser">
        SELECT count(1) FROM th_user WHERE 1=1
        <include refid="Base_Where_Condition"/>
    </select>

    <select id="findUserByName" resultType="com.thinkcat.domain.AdminUser" parameterType="string">
        SELECT
          <include refid="Base_Column_List"/>
        FROM th_user
        WHERE user_name = #{userName,jdbcType=VARCHAR}
    </select>

    <select id="findUserByParentId" parameterType="long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM th_user
        WHERE user_id in (
        SELECT sub_user_id FROM th_user_xref
        WHERE user_id = #{parentId,jdbcType=BIGINT}
        )
    </select>

    <insert id="addUserXref" parameterType="long">
        insert INTO th_user_xref VALUES (#{uId,jdbcType=BIGINT},#{parentId,jdbcType=BIGINT});
    </insert>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="uId" parameterType="com.thinkcat.domain.AdminUser">
        INSERT INTO  th_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="userName !=null">
            user_name,
        </if>
        <if test="password !=null">
            password,
        </if>
        <if test="userType !=null">
            user_type,
        </if>
        <if test="roleId !=null">
            role_id,
        </if>
        <if test="description !=null">
            description,
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="userName !=null">
           #{userName},
        </if>
        <if test="password !=null">
            #{password},
        </if>
        <if test="userType !=null">
            #{userType},
        </if>
        <if test="roleId !=null">
            #{roleId},
        </if>
        <if test="description !=null">
            #{description},
        </if>
      </trim>
    </insert>
</mapper>