#set($layout = "layout/main.vm")
#define($content)


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        权限管理
        <small>编辑您的权限信息</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active"> 权限管理</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">用户</a></li>
                    <li><a href="#tab_2" data-toggle="tab">角色</a></li>
                    <li><a href="#tab_3" data-toggle="tab">权限</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="row">
                            <div class="col-xs-12">
                            ##                                <%-- operate area --%>
                                <div class="form-group" style="width: 100%">
                                    <div class="btn-group" style="float: left">
                                        <button type="button" class="btn btn-default">操作</button>
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="/user/addUser">新增用户</a></li>
                                            <li><a href="#">其他操作</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">其他操作</a></li>
                                        </ul>
                                    </div>
                                    <div class="input-group" style="width: 300px; float: left">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" width="40px" class="form-control active"
                                               id="reservation">
                                    </div>

                                </div>
                            </div>

                        ## ==============  Pagination Begin ============================

                            #set($tableHead ={"用户名":"userName","用户类型":"userType","密码":"password","操作":""})
                            #pagination("/user/page", ${_csrf.parameterName},${_csrf.token},$tableHead)

                        ## ============== Pagination End ===============================

                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_2">
                        ##  <%--TODO--%>
                            角色信息
                        </div>
                        <!-- /.tab-pane -->

                        <div class="tab-pane" id="tab_3">
                        ##  <%--TODO--%>
                            权限信息
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
</section>
#end

#define($refer)
##<script type="text/javascript" src="/resources/assert/js/common/pagination.js"></script>
#end