<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ThinkWeb | 用户登录</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="/resources/thweb/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/resources/thweb/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/resources/thweb/plugins/iCheck/square/blue.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/resources/thweb/assert/js/html5shiv/html5shiv.min-3.7.3.js"></script>
    <script src="/resources/thweb/assert/js/respond/respond.min-1.4.2.js"></script>
    <![endif]-->
</head>
<body class="hold-transition login-page">

    $!content

<!-- jQuery 2.1.4 -->
<script src="/resources/thweb/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- jquery cookie -->
<script src="/resources/thweb/plugins/jQuery/jquery.cookie.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="/resources/thweb/bootstrap/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="/resources/thweb/plugins/iCheck/icheck.min.js"></script>
<script>
    //  $(function () {
    //    $('input').iCheck({
    //      checkboxClass: 'icheckbox_square-blue',
    //      radioClass: 'iradio_square-blue',
    //      increaseArea: '20%' // optional
    //    });
    //  });

    //remember account
    $(document).ready(function(){
        if ($.cookie("rmbUser") == "true") {
            $("#rmbUser").attr("checked", true);
            $("#th-username").val($.cookie("userName"));
            $("#th-password").val($.cookie("passWord"));
        }
    });

    function saveUserInfo() {
        if ($("#rmbUser").is(':checked')) {
            var userName = $("#th-username").val();
            var passWord = $("#th-password").val();
            $.cookie("rmbUser", "true", { expires: 7 }); // 存储一个带7天期限的 cookie
            $.cookie("userName", userName, { expires: 7 }); // 存储一个带7天期限的 cookie
            $.cookie("passWord", passWord, { expires: 7 }); // 存储一个带7天期限的 cookie
        }
        else {
            $.cookie("rmbUser", "false", { expires: -1 });        // 删除 cookie
            $.cookie("userName", '', { expires: -1 });
            $.cookie("passWord", '', { expires: -1 });
        }
    }

</script>
</body>
</html>
